.login-view {
    width: 100%;
    height: calc(100vh - 85px);
    background: url("../../Assets/Images/bg1.jpg") top center;
    background-size: cover;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    &:before {
      content: "";
      background: rgba(13, 20, 26, 0.4);
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }
  
    .wrapper{
      padding-top: 50px;
      z-index: 10;
    }
  }

