.map-container {
  height: 400px;
  width: 600px;
  
  // background-color: chocolate;
  border: 2px solid #dadbdd;
  border-radius: 5px;
}

.location-icon {
  height: 30px;
  width: 30px;
}

.hr-wrapper{
    display: flex;
    flex-direction: row;

    .item{
        min-width:150px;
        display: flex;
        justify-content: left;
    }
}


.new-add {
    width: 800px;
    padding: 35px;
    background-color: #fafafa;
    background: url("../../Assets/Images/bg1.jpg") top center;
    border-radius: 5px;
    margin: 15px;

    .prefix-text{
        margin: 0 5px 0 0;
        display: flex;
        align-items: center;
    }

    .suffix-text{
        margin: 0 0 0 5px;
        display: flex;
        align-items: center;
    }

  .input-section {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    // border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    // background-color: #eaeaea;

    .title {
      margin: 0;
      text-align: left;
      font-weight: 600;
    //   margin-bottom: 8px;

      .tip {
        color: #505050;
        font-size: 14px;
      }
    }

    .children {
      margin-left: 8%;
      margin-top: 5px;
      display: flex;
      flex-direction: row;
    }
  }
}

.double-choice{
    display: flex;
    flex-direction: row;

    .service-type{
        display: flex;
        flex-direction: row;
    }
}

.services{
    display: flex;
    flex-direction: column;

    .topic-section{
        display: flex;
        flex-direction: row;

        .topic{
            font-size: 16px;
            font-weight: 600;
            color:#505050;
        }
    }

    .list{
        display: flex;
        flex-direction: column;
    }
}