.img-viewer {
  // box-sizing: content-box;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  padding: 2vh;
  user-select: none;
  z-index: 999;

  .tb-wrapper {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 80vw;
    background-color: transparent;
    height: 10vh;
    top: 1vh;
    left: 10vw;
    z-index: 6;

    &:hover {
      .tool-bar {
        visibility: visible;
      }
    }

    .tool-bar {
      width: 300px;
      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      background-color: #171717;
      visibility: hidden;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      &__slideshow {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
      }

      &__zoom {
        // position: absolute;
        // right: calc(40vw - 200px);
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
      }

      &__btn {
        box-sizing: content-box;
        width: 20px;
        height: 20px;
        padding: 8px;
        border-radius: 3px;

        &--icon {
          height: 20px;
          width: 20px;
          vertical-align:unset;
        }

        &--first-icon {
          transform: rotateX("90");
        }

        &:hover {
          background-color: #303030;
        }
      }
    }

    .count-viewer {
      height: 30px;
      position: absolute;
      top: 2vh;
      right: 1vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.4);
      color: #dddddd;
      padding: 5px 15px 5px 15px;

      &__text {
        font-weight: 600;
        margin-top: 15px;
      }
    }

    .msg-viewer {
      height: 35px;
      width: 200px;
      position: absolute;
      top: 75vh;
      left: calc(40vw - 100px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.5);
      color: #dddddd;
      z-index: inherit;

      &__text {
        font-weight: 600;
        margin-top: 14px;
      }
    }
  }

  .img-frame {
    height: 84vh;
    position: relative;
    display: flex;
    flex-direction: row;
    // align-items: center;
    overflow: hidden;
    width: 80vw;

    &__selected {
      opacity: 1;
      // overflow: hidden;
      transition: transform 1200ms ease;
    }

    &__normal {
      opacity: 1;
      // overflow: hidden;
      transition: transform 1200ms ease;
    }

    &__temporary {
      height: 84vh;
      min-width: 90vw;
      fill: aqua;
      background-color: aqua;
    }
  }

  .view-img {
    // height: auto;
    height: 84vh;
    // width: auto;
    width: 80vw;
    transform: scale(1.5);
    overflow: hidden;
  }

  .img-wrapper {
    overflow: hidden;
  }

  .img-container {
    display: flex;
    gap: 0.7vh;
    position: relative;
    bottom: 0vh;
    z-index: 5;
    flex-direction: row;
    align-items: center;
    height: 11vh;
    max-width: 54vw;
    overflow-x: hidden;
    padding: 0;
    margin: 1vh 0 0 0;
    padding: 0;

    .selected-img {
      min-height: 10vh;
      min-width: 15vh;
      display: flex;
      align-items: center;
      border-radius: 5px;
      justify-content: center;
      background-color: black;
      border: 3px solid #04b1fc;
      transition: transform 800ms ease;

      .image {
        max-height: 10vh;
        max-width: 15vh;
        /* cursor: pointer; */
      }
    }

    .normal-img {
      min-height: 8vh;
      min-width: 12vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      filter: opacity(0.7);
      transition: transform 800ms ease;

      &:hover {
        filter: opacity(0.6);
      }

      .image {
        max-height: 8vh;
        max-width: 12vh;
        cursor: pointer;
      }
    }
  }

  #close-icon {
    transition: filter 350ms ease;
    width: 5vh;
    height: 5vh;
    position: absolute;
    top: 1vh;
    right: 1vh;
    filter: opacity(0.4);
    cursor: pointer;
    vertical-align:unset;

    &:hover {
      filter: opacity(0.99);
    }
  }

  #previous-icon {
    width: 8vh;
    height: 8vh;
    position: absolute;
    left: 1vh;
    top: 35vh;
    filter: opacity(0.4);
    cursor: pointer;
    transition: filter 100ms ease;
    vertical-align:unset;

    &:hover {
      filter: opacity(1);
    }
  }

  #next-icon {
    width: 8vh;
    height: 8vh;
    position: absolute;
    right: 1vh;
    top: 35vh;
    filter: opacity(0.4);
    cursor: pointer;
    transition: filter 100ms ease;
    vertical-align:unset;

    &:hover {
      filter: opacity(1);
    }
  }
}
